[access]
	inheritFrom = Platform-Unrestricted-Projects
[project]
	description = Owner: nnk\n\
Bug: http://b/27875478
[access "refs/heads/master"]
	exclusiveGroupPermissions = label-Code-Review
	label-Code-Review = -2..+2 group global-plus2-approvers
	label-Code-Review = -2..+2 group system-sepolicy-dr-no-approvers
	label-Code-Review = -1..+1 group Registered Users
	label-Code-Review = -2..+1 group Android Maintainers
