# odrefresh
type odrefresh, domain, coredomain;
type odrefresh_exec, system_file_type, exec_type, file_type;

# Run dex2oat in its own sandbox.
domain_auto_trans(odrefresh, dex2oat_exec, dex2oat)

# Allow odrefresh to kill dex2oat if compilation times out.
allow odrefresh dex2oat:process sigkill;

# Allow odrefresh to use inherited FDs (currently only 0-2, which are /dev/null).
allow odrefresh compos:fd use;

# Allow odrefresh to read/write/lookup files/directories on authfs.
allow odrefresh authfs_fuse:file { create open read write getattr map };
allow odrefresh authfs_fuse:dir { search create open read getattr write add_name };

# Allow odrefresh to check the parent directory exists.
allow odrefresh authfs_data_file:dir { search getattr };

# Allow odrefresh to read /apex/apex-info-list.xml to gather information of
# the current APEXes.
allow odrefresh apex_info_file:file r_file_perms;
