# vr subsystem
type android_hardware_vr_service, domain;
type android_hardware_vr_service_exec, exec_type, file_type;

# hwbinder access
hwbinder_use(android_hardware_vr_service)

# call into system_server process
binder_call(android_hardware_vr_service, system_server)
