# apexd -- manager for APEX packages
type apexd, domain;
type apexd_exec, exec_type, file_type, system_file_type;

binder_use(apexd)
add_service(apexd, apex_service)

# TODO(b/191601801) remove virtualizationservice
neverallow {
  domain
  -init
  -apexd
  -system_server
  -update_engine
  -virtualizationservice
} apex_service:service_manager find;

# TODO(b/191601801) remove virtualizationservice
neverallow {
  domain
  -init
  -apexd
  -system_server
  -servicemanager
  -update_engine
  -virtualizationservice
} apexd:binder call;

neverallow { domain userdebug_or_eng(`-crash_dump') } apexd:process ptrace;
