# This file is derived from https://git.codelinaro.org/clo/la/platform/system/sepolicy/-/blob/clo/main/public/gpuservice.te licensed under public domain.

# Changes from Qualcomm Innovation Center are provided under the following license:

# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

#asrm service - server for system resource manager.
type asrmservice, domain;
