# audioserver - audio services daemon
type audioserver, domain;
type audioserver_tmpfs, file_type;

# Signal audio and bluetooth HAL processes to dump their stack.
allow audioserver hwservicemanager:hwservice_manager list;
allow audioserver hal_audio_server:process signal;
