type charger, domain;
type charger_exec, system_file_type, exec_type, file_type;

typeattribute charger charger_common_type;

# The system charger needs to be allowed to set these properties on legacy devices.
set_prop(charger, system_prop)
set_prop(charger, exported_system_prop)
set_prop(charger, exported3_system_prop)

# The system charger is a client of HIDL health HAL.
hal_client_domain(charger, hal_health)
