# The flags_health_check command run by init.
type flags_health_check, domain;
type flags_health_check_exec, system_file_type, exec_type, file_type;

set_prop(flags_health_check, device_config_boot_count_prop)

# system property device_config_boot_count_prop is used for deciding when to perform server
# configurable flags related disaster recovery. Mistakenly set up by unrelated components can cause
# server configurable flags all mistakenly flipped.
neverallow { domain -init -flags_health_check -vendor_init } device_config_boot_count_prop:property_service set;
