# HwBinder IPC from client to server, and callbacks
binder_call(hal_weaver_client, hal_weaver_server)
binder_call(hal_weaver_server, hal_weaver_client)
