# hwbinder access
hwbinder_use(hal_boot)

# call into system_server process (callbacks)
binder_call(hal_boot, system_server)

# Allow read/write bootctrl block device, if one is defined.
allow hal_boot bootctrl_block_device:blk_file rw_file_perms;
