# HwBinder IPC from client to server, and callbacks
binder_call(hal_automotive_display_client, hal_automotive_display_server)
binder_call(hal_automotive_display_server, hal_automotive_display_client)
