# HwBinder IPC from client to server, and callbacks
binder_call(hal_oemlock_client, hal_oemlock_server)
binder_call(hal_oemlock_server, hal_oemlock_client)
