
binder_call(hal_boot_control_client, hal_boot_control_server)
hal_attribute_service(hal_boot_control, hal_boot_control_service)
binder_call(hal_boot_control_server, servicemanager)
