binder_call(hal_system_suspend_control_client, hal_system_suspend_control_server)
binder_call(hal_system_suspend_control_server, hal_system_suspend_control_client)

hal_attribute_hwservice(hal_system_suspend_control, system_suspend_control_hwservice)
