# HwBinder IPC from client to server
binder_call(hal_memory_reclaimer_client, hal_memory_reclaimer_server)

hal_attribute_hwservice(hal_memory_reclaimer, system_memory_reclaimer_hwservice)
