# Bluetooth subsystem
type hal_bluetooth, domain;
type hal_bluetooth_exec, exec_type, file_type;

# hwbinder access
hwbinder_use(hal_bluetooth)

allow hal_bluetooth system_file:dir read;
allow hal_bluetooth system_file:dir open;

# call into the Bluetooth process (callbacks)
binder_call(hal_bluetooth, bluetooth)

# Allow access to net_admin ioctls
allowxperm hal_bluetooth self:udp_socket ioctl priv_sock_ioctls;

wakelock_use(hal_bluetooth);

# Data file accesses.
allow bluetooth bluetooth_data_file:dir create_dir_perms;
allow bluetooth bluetooth_data_file:notdevfile_class_set create_file_perms;
allow bluetooth bluetooth_logs_data_file:dir rw_dir_perms;
allow bluetooth bluetooth_logs_data_file:file create_file_perms;

# Socket creation under /data/misc/bluedroid.
allow bluetooth bluetooth_socket:sock_file create_file_perms;

# bluetooth factory file accesses.
r_dir_file(hal_bluetooth, bluetooth_efs_file)

allow hal_bluetooth { uhid_device hci_attach_dev }:chr_file rw_file_perms;

# sysfs access.
r_dir_file(hal_bluetooth, sysfs_type)
allow hal_bluetooth sysfs_bluetooth_writable:file rw_file_perms;
allow hal_bluetooth self:capability net_admin;
allow hal_bluetooth self:capability2 wake_alarm;

# tethering
allow bluetooth self:packet_socket create_socket_perms_no_ioctl;
allow bluetooth self:capability { net_admin net_raw net_bind_service };
allow bluetooth efs_file:dir search;

# proc access.
allow bluetooth proc_bluetooth_writable:file rw_file_perms;

# Allow write access to bluetooth specific properties
set_prop(hal_bluetooth, bluetooth_prop)

