# HwBinder IPC from client to server
binder_call(hal_helloworld_client, hal_helloworld_server)

hal_attribute_hwservice(hal_helloworld, hal_helloworld_hwservice)

