## call into system_server process (for invoking callbacks)
binder_call(hal_wifi_client, hal_wifi_server)
binder_call(hal_wifi_server, hal_wifi_client)

r_dir_file(hal_wifi_offload, proc_net)
r_dir_file(hal_wifi_offload, sysfs_type)
