# IPC from client to server, and callbacks
binder_call(hal_secretkeeper_client, hal_secretkeeper_server)
binder_call(hal_secretkeeper_server, hal_secretkeeper_client)

hal_attribute_service(hal_secretkeeper, hal_secretkeeper_service)

binder_use(hal_secretkeeper_server)
binder_use(hal_secretkeeper_client)

allow hal_secretkeeper_client hal_secretkeeper_service:service_manager find;
