# The incident_helper is used to be called by incidentd
# and can only read/write data from/to incidentd

# incident_helper
type incident_helper, domain;
