###
### A domain for android.process.media, which contains both
### MediaProvider and DownloadProvider and associated services.
###

type mediaprovider, domain;

get_prop(mediaprovider, device_config_storage_native_boot_prop)
