type mediaprovider, domain;

# MtpServer uses /dev/mtp_usb
allow mediaprovider mtp_device:chr_file rw_file_perms;

# MtpServer uses /dev/usb-ffs/mtp
allow mediaprovider functionfs:dir search;
allow mediaprovider functionfs:file rw_file_perms;

# MtpServer sets sys.usb.ffs.mtp.ready
set_prop(mediaprovider, ffs_prop)

allow mediaprovider mediacodec_service:service_manager find;
allow mediaprovider mediadrmserver_service:service_manager find;
allow mediaprovider mediaextractor_service:service_manager find;
allow mediaprovider mediaserver_service:service_manager find;
allow mediaprovider app_api_service:service_manager find;
allow mediaprovider system_api_service:service_manager find;
allow mediaprovider persistent_data_block_service:service_manager find;
allow mediaprovider recovery_service:service_manager find;

# Write to /cache.
allow mediaprovider { cache_file cache_recovery_file }:dir create_dir_perms;
allow mediaprovider { cache_file cache_recovery_file }:file create_file_perms;

# Write to /data/ota_package for OTA packages.
allow mediaprovider ota_package_file:dir rw_dir_perms;
allow mediaprovider ota_package_file:file create_file_perms;

# Access to /data/media.
allow mediaprovider media_rw_data_file:dir create_dir_perms;
allow mediaprovider media_rw_data_file:file create_file_perms;

# Used by Finsky / Android "Verify Apps" functionality when
# running "adb install foo.apk".
allow mediaprovider shell_data_file:file r_file_perms;
allow mediaprovider shell_data_file:dir r_dir_perms;

# Allow GMS core to access perfprofd output, which is stored
# in /data/misc/perfprofd/. GMS core will need to list all
# data stored in that directory to process them one by one.
userdebug_or_eng(`
  allow mediaprovider perfprofd_data_file:file r_file_perms;
  allow mediaprovider perfprofd_data_file:dir r_dir_perms;
')

# Allow GMS core to scan executables on the system partition
allow mediaprovider exec_type:file { getattr read open };

# /sys and /proc access
r_dir_file(mediaprovider, sysfs_type)
r_dir_file(mediaprovider, proc)
r_dir_file(mediaprovider, rootfs)

# Allow GMS core to communicate with update_engine for A/B update.
binder_call(mediaprovider, update_engine)
allow mediaprovider update_engine_service:service_manager find;

# Access to /data/preloads
allow mediaprovider preloads_data_file:file r_file_perms;
