type nativezygote_vendor, domain;
type nativezygote_vendor_exec, exec_type, file_type, system_file_type;

allow nativezygote_vendor file_contexts_file:file r_file_perms;

allow nativezygote_vendor self:global_capability_class_set sys_resource;

allow nativezygote_vendor self:process setsockcreate;

allow nativezygote_vendor domain:unix_stream_socket { create bind setopt };
allow nativezygote_vendor domain:unix_dgram_socket { create bind setopt };

allow nativezygote_vendor self:global_capability_class_set { chown fowner fsetid };

allow nativezygote_vendor self:global_capability_class_set { setuid setgid setpcap };

allow nativezygote_vendor self:process setcurrent;

allow nativezygote_vendor socket_device:dir { add_name remove_name write };

allow nativezygote_vendor self:process { setfscreate setsockcreate };

neverallow {
  domain
  -nativezygote_vendor
  -init
} nativezygote_vendor:unix_stream_socket connectto;
