# profcollectd - hardware profile collection daemon
type profcollectd, domain;
type profcollectd_exec, system_file_type, exec_type, file_type;

userdebug_or_eng(`

	typeattribute profcollectd coredomain;
	typeattribute profcollectd mlstrustedsubject;

	# simpleperf access to sysfs directory structure.
	allow profcollectd sysfs_type:dir search;

	# simpleperf writes to perf_event_paranoid under /proc.
	allow profcollectd proc_perf:file write;

	# profcollectd opens a file for writing in /data/misc/profcollectd
	allow profcollectd profcollectd_data_file:file create_file_perms;
	allow profcollectd profcollectd_data_file:dir rw_dir_perms;

	# profcollectd uses the system log
	read_logd(profcollectd);
	write_logd(profcollectd);

	# Allow profcollectd to publish a binder service and make binder calls.
	binder_use(profcollectd)
	add_service(profcollectd, profcollectd_service)
')
