type audio_prop, property_type, core_property_type;
type boottime_prop, property_type;
type bluetooth_prop, property_type;
type bootloader_boot_reason_prop, property_type;
type config_prop, property_type, config_property_type, core_property_type;
type cppreopt_prop, property_type, core_property_type;
type ctl_bootanim_prop, property_type;
type ctl_bugreport_prop, property_type;
type ctl_console_prop, property_type;
type ctl_default_prop, property_type;
type ctl_dumpstate_prop, property_type;
type ctl_fuse_prop, property_type;
type ctl_mdnsd_prop, property_type;
type ctl_rildaemon_prop, property_type;
type dalvik_prop, property_type, dalvik_property_type, core_property_type;
type debuggerd_prop, property_type, core_property_type;
type debug_prop, property_type, core_property_type;
type default_prop, property_type, default_property_type, core_property_type;
type device_logging_prop, property_type;
type dhcp_prop, property_type, core_property_type;
type dumpstate_options_prop, property_type;
type dumpstate_prop, property_type, dumpstate_property_type, core_property_type;
type ffs_prop, property_type, ffs_property_type, core_property_type;
type fingerprint_prop, property_type, core_property_type;
type firstboot_prop, property_type;
type hwservicemanager_prop, property_type;
type last_boot_reason_prop, property_type;
type logd_prop, property_type, core_property_type;
type logpersistd_logging_prop, property_type;
type log_prop, property_type, log_property_type;
type log_tag_prop, property_type, log_property_type;
type lowpan_prop, property_type;
type mmc_prop, property_type;
type net_dns_prop, property_type;
type net_radio_prop, property_type, core_property_type;
type netd_stable_secret_prop, property_type;
type nfc_prop, property_type, core_property_type;
type overlay_prop, property_type, overlay_property_type;
type pan_result_prop, property_type, core_property_type;
type persist_debug_prop, property_type, core_property_type;
type persistent_properties_ready_prop, property_type;
type pm_prop, property_type, pm_property_type;
type powerctl_prop, property_type, core_property_type;
type radio_prop, property_type, radio_property_type, core_property_type;
type restorecon_prop, property_type, core_property_type;
type safemode_prop, property_type;
type serialno_prop, property_type;
type shell_prop, property_type, core_property_type;
type system_boot_reason_prop, property_type;
type system_prop, property_type, system_property_type, core_property_type;
type system_radio_prop, property_type, system_radio_property_type, core_property_type;
type vold_prop, property_type, vold_property_type, core_property_type;
type wifi_log_prop, property_type, log_property_type;
type wifi_prop, property_type;

# Properties for whitelisting
# The meanings of prefixes are as follows.
#   "pr" - public readable
#   "vs" - vendor-init settable
#   "vr" - vendor-init readable
type pr_default_prop, property_type, default_property_type, core_property_type;
type pr_dumpstate_prop, property_type, dumpstate_property_type, core_property_type;
type pr_system_prop, property_type, system_property_type, core_property_type;
type pr_vold_prop, property_type, vold_property_type, core_property_type;
type pr_vs_config_prop, property_type, config_property_type, core_property_type;
type pr_vs_default_prop, property_type, default_property_type, core_property_type;
type pr_vs_radio_prop, property_type, radio_property_type, core_property_type;
type vr_radio_prop, property_type, radio_property_type, core_property_type;
type vr_system_prop, property_type, system_property_type, core_property_type;
type vs_config_prop, property_type, config_property_type, core_property_type;
type vs_dalvik_prop, property_type, dalvik_property_type, core_property_type;
type vs_default_prop, property_type, default_property_type, core_property_type;
type vs_ffs_prop, property_type, ffs_property_type, core_property_type;
type vs_overlay_prop, property_type, overlay_property_type;
type vs_pm_prop, property_type, pm_property_type;
type vs_system_prop, property_type, system_property_type, core_property_type;
type vs_system_radio_prop, property_type, system_radio_property_type, core_property_type;
type vs_vold_prop, property_type, vold_property_type, core_property_type;

type vendor_default_prop, property_type;

not_compatible_property(`
  typeattribute vendor_default_prop core_property_type;
')

compatible_property_only(`
  get_prop(domain, debug_prop)
  get_prop(domain, log_prop)
  get_prop(domain, log_tag_prop)
  get_prop(domain, logd_prop)
  get_prop(domain, wifi_log_prop)

  typeattribute vendor_default_prop vendor_property_type;
')

allow property_type tmpfs:filesystem associate;

###
### Neverallow rules
###

# core_property_type should not be used for new properties or
# device specific properties. Properties with this attribute
# are readable to everyone, which is overly broad and should
# be avoided.
# New properties should have appropriate read / write access
# control rules written.

neverallow * {
  core_property_type
  -audio_prop
  -config_property_type
  -cppreopt_prop
  -dalvik_property_type
  -debuggerd_prop
  -debug_prop
  -default_property_type
  -dhcp_prop
  -dumpstate_property_type
  -ffs_property_type
  -fingerprint_prop
  -logd_prop
  -net_radio_prop
  -nfc_prop
  -pan_result_prop
  -persist_debug_prop
  -powerctl_prop
  -radio_property_type
  -restorecon_prop
  -shell_prop
  -system_property_type
  -system_radio_property_type
  -vendor_default_prop
  -vold_property_type
}:file no_rw_file_perms;

compatible_property_only(`
  neverallow {
    domain
    -coredomain
    -appdomain
    -vendor_init
  } {
    core_property_type
  }:file no_w_file_perms;

  neverallow {
    domain
    -coredomain
    -appdomain
    -vendor_init
  } {
    core_property_type
    -debug_prop
    -log_prop
    -log_tag_prop
    -logd_prop
    -nfc_prop
    -powerctl_prop
    -pr_default_prop
    -pr_dumpstate_prop
    -pr_system_prop
    -pr_vold_prop
    -pr_vs_config_prop
    -pr_vs_default_prop
    -pr_vs_radio_prop
    -radio_property_type
    -wifi_log_prop
  }:file no_rw_file_perms;
')
