#
# System Server aka system_server spawned by zygote.
# Most of the framework services run in this process.
#
type system_server, domain;

allow system_server apex_service:service_manager find;
allow system_server apexd:binder call;
