typeattribute adpfservice coredomain;

type adpfservice_exec, system_file_type, exec_type, file_type;

init_daemon_domain(adpfservice)

binder_use(adpfservice)
binder_service(adpfservice)

add_service(adpfservice, adpf_service)
