# TODO: deal with tmpfs_domain pub/priv split properly
# Read system properties managed by zygote.
allow appdomain zygote_tmpfs:file read;

# Allow apps to write trace data to Perfetto traced by connecting to its
# producer socket and retrieving a tmpfs file descriptor for the trace data.
allow appdomain traced:fd use;
allow appdomain traced_tmpfs:file { read write getattr map };
unix_socket_connect(appdomain, traced_producer, traced)
