type barometer domain;

init_daemon_domain(barometer)

get_prop(barometer, high_barometer_quality_prop)

neverallow {
    domain -init -barometer
} {high_barometer_quality_prop}:property_service set;