typeattribute bootanim coredomain;
typeattribute bootanim nonprofilable;

init_daemon_domain(bootanim)

# b/68864350
dontaudit bootanim unlabeled:dir search;
