# test program for boringssl
type boringsslselftest, domain, coredomain;
type boringsslselftest_exec, exec_type, file_type, system_file_type;

init_daemon_domain(boringsslselftest)

set_prop(boringsslselftest, powerctl_prop)
