typeattribute cameraserver coredomain;
typeattribute cameraserver camera_hservice_server;

init_daemon_domain(cameraserver)
tmpfs_domain(cameraserver)
