typeattribute charger coredomain;

compatible_property_only(`
    neverallow {
        domain
        -init
        -dumpstate
        -charger
    } charger_prop:file no_rw_file_perms;
')

neverallow {
    domain
    -init
    -dumpstate
    -vendor_init
    -charger
} { charger_config_prop charger_status_prop }:file no_rw_file_perms;
