# Make ART inputs and outputs available to the CompOS VM
type compos_fd_server, domain, coredomain;

# Allow access to open fds inherited from odrefresh and composd
# TODO(b/209008712): Remove odrefresh once migration is done.
allow compos_fd_server odrefresh:fd use;
allow compos_fd_server composd:fd use;

# Allow read inputs, generate outputs
allow compos_fd_server apex_art_data_file:file { getattr read };
allow compos_fd_server apex_art_staging_data_file:file { getattr read write };

# Allow create and other basic file/directory operations on output files/directories (within the
# specific given directory and context).
# FIXME shouldn't use apex_compos_data_file, merge with apex_art_staging_data_file...
allow compos_fd_server apex_compos_data_file:file { create open read write getattr };
allow compos_fd_server apex_compos_data_file:dir { create open search read write getattr add_name };

# Use a pipe to signal readiness
allow compos_fd_server odrefresh:fifo_file write;
allow compos_fd_server composd:fifo_file write;

# TODO(b/196109647) - remove this when no longer needed by minijail
allow compos_fd_server odrefresh:fifo_file read;
allow compos_fd_server composd:fifo_file read;

# Create a listening vsock for the VM to connect back to
allow compos_fd_server self:vsock_socket { create_socket_perms_no_ioctl listen accept };

# Only composd and odrefresh can enter the domain via exec
# TODO(b/209008712): Remove odrefresh once migration is done.
neverallow { domain -composd -odrefresh } compos_fd_server:process transition;
neverallow * compos_fd_server:process dyntransition;
