typeattribute dnsmasq coredomain;

# Allow access to netlink_route sockets
allow dnsmasq self:netlink_route_socket { bind nlmsg_readpriv nlmsg_getneigh };
# Audit access the MAC address and link information for potential removal (b/192350019)
userdebug_or_eng(`
  auditallow dnsmasq self:netlink_route_socket { nlmsg_readpriv nlmsg_getneigh };
')
