# Transition to crash_dump when /system/bin/crash_dump* is executed.
# This occurs when the process crashes.
domain_auto_trans(domain, crash_dump_exec, crash_dump);
allow domain crash_dump:process sigchld;

# Limit ability to ptrace or read sensitive /proc/pid files of processes
# with other UIDs to these whitelisted domains.
neverallow {
  domain
  -vold
  -dumpstate
  -storaged
  -system_server
  userdebug_or_eng(`-perfprofd')
} self:capability sys_ptrace;

# Limit ability to generate hardware unique device ID attestations to priv_apps
neverallow { domain -priv_app } *:keystore_key gen_unique_id;

# Core domains are not permitted to use kernel files which are not explicitly
# labeled.
# TODO(b/65643247): Apply these neverallow rules to all coredomain.
full_treble_only(`
  # proc
  neverallow {
    coredomain
    -dumpstate
    -init
    -platform_app
    -postinstall_dexopt
    -priv_app
    -radio
    -shell
    -system_app
    -vold
  } proc:file no_rw_file_perms;

  # sysfs
  neverallow {
    coredomain
    -charger
    -dumpstate
    -fingerprintd
    -healthd
    -init
    -mediaserver
    -priv_app
    -radio
    -recovery
    -storaged
    -system_app
    -system_server
    -ueventd
    -update_verifier
    -vold
  } sysfs:file no_rw_file_perms;

  # device
  neverallow {
    coredomain
    -fsck
    -init
    -shell
    -ueventd
  } device:{ devfile_class_set file } no_rw_file_perms;

  # debugfs
  neverallow {
    coredomain
    -dumpstate
    -init
    -system_server
  } debugfs:file no_rw_file_perms;

  # tracefs
  neverallow {
    coredomain
    -atrace
    -dumpstate
    -init
    -perfprofd
    -shell
  } debugfs_tracing:file no_rw_file_perms;

  # inotify
  neverallow {
    coredomain
    -init
  } inotify:file no_rw_file_perms;

  # pstorefs
  neverallow {
    coredomain
    -bootstat
    -charger
    -dumpstate
    -healthd
    -init
    -logd
    -logpersist
    -recovery_persist
    -recovery_refresh
    -shell
    -system_server
  } pstorefs:{ dir file } no_rw_file_perms;


  # configfs
  neverallow {
    coredomain
    -init
    -system_server
  } configfs:{ dir file } no_rw_file_perms;

  # functionfs
  neverallow {
    coredomain
    -adbd
    -init
    -mediaprovider
  }functionfs:file no_rw_file_perms;

  # usbfs and binfmt_miscfs
  neverallow {
    coredomain
    -init
  }{ usbfs binfmt_miscfs }:file no_rw_file_perms;
')
