typeattribute dumpstate coredomain;

init_daemon_domain(dumpstate)

# Execute and transition to the vdc domain
domain_auto_trans(dumpstate, vdc_exec, vdc)

# Acquire advisory lock on /system/etc/xtables.lock from ip[6]tables
allow dumpstate system_file:file lock;

# TODO: deal with tmpfs_domain pub/priv split properly
allow dumpstate dumpstate_tmpfs:file execute;

# systrace support - allow atrace to run
allow dumpstate debugfs_tracing:dir r_dir_perms;
allow dumpstate debugfs_tracing:file rw_file_perms;
allow dumpstate debugfs_tracing_debug:dir r_dir_perms;
allow dumpstate debugfs_trace_marker:file getattr;
allow dumpstate atrace_exec:file rx_file_perms;
allow dumpstate storaged_exec:file rx_file_perms;

# /data/misc/wmtrace for wm traces
userdebug_or_eng(`
  allow dumpstate wm_trace_data_file:dir r_dir_perms;
  allow dumpstate wm_trace_data_file:file r_file_perms;
')

# Allow dumpstate to make binder calls to storaged service
binder_call(dumpstate, storaged)

# Allow dumpstate to make binder calls to statsd
binder_call(dumpstate, statsd)

# Collect metrics on boot time created by init
get_prop(dumpstate, boottime_prop)

# Signal native processes to dump their stack.
allow dumpstate {
  statsd
}:process signal;

# For collecting bugreports
allow dumpstate debugfs_wakeup_sources:file r_file_perms;
# Neverallow violation.
dontaudit dumpstate sysfs:file r_file_perms;
allow dumpstate incidentd:binder call;
# Neverallow violation.
dontaudit dumpstate perfprofd:binder call;
allow dumpstate update_engine:binder call;
allow dumpstate vold:binder call;
# For kmod="net-pf-16-proto-4-type-2-17"
dontaudit dumpstate kernel:system module_request;

# For collecting bugreports
get_prop(dumpstate, bluetooth_prop)
get_prop(dumpstate, ctl_bootanim_prop)
get_prop(dumpstate, ctl_bugreport_prop)
get_prop(dumpstate, ctl_console_prop)
get_prop(dumpstate, ctl_default_prop)
get_prop(dumpstate, ctl_dumpstate_prop)
get_prop(dumpstate, ctl_fuse_prop)
get_prop(dumpstate, ctl_mdnsd_prop)
get_prop(dumpstate, ctl_rildaemon_prop)
# Neverallow violation.
dontaudit dumpstate firstboot_prop:file { getattr open };
get_prop(dumpstate, logpersistd_logging_prop)
get_prop(dumpstate, lowpan_prop)
get_prop(dumpstate, mmc_prop)
get_prop(dumpstate, net_dns_prop)
# Neverallow violation.
dontaudit dumpstate netd_stable_secret_prop:file { getattr open };
get_prop(dumpstate, overlay_prop)
get_prop(dumpstate, persistent_properties_ready_prop)
get_prop(dumpstate, safemode_prop)
get_prop(dumpstate, wifi_prop)
allow dumpstate userdata_block_device:blk_file getattr;
