# gsi_tool - Shell wrapper to talk to gsid

type gsi_tool, domain;
type gsi_tool_exec, exec_type, file_type, system_file_type;
typeattribute gsi_tool coredomain;

init_daemon_domain(gsi_tool)
