type hal_wifi_default, hal_wifi, domain;
type hal_wifi_default_exec, exec_type, file_type;

# type_transition must be private policy the domain_trans rules could stay
# public, but conceptually should go with this
init_daemon_domain(hal_wifi_default)
