typeattribute heapprofd nonprofilable;

# Android Heap Profiler Daemon go/heapprofd
type heapprofd_exec, exec_type, file_type, system_file_type;

init_daemon_domain(heapprofd)

userdebug_or_eng(`
  # To receive file descriptor.
  allow heapprofd profilable:fd use;

  # To read from the received file descriptors.
  # /proc/[pid]/maps and /proc/[pid]/mem have the same SELinux label as the
  # process they relate to.
  allow heapprofd profilable:file read;

  # Allow to send signal to profilable processes.
  # This excludes SIGKILL, SIGSTOP and SIGCHLD,
  # which are controlled by separate permissions.
  allow heapprofd self:capability kill;
  allow heapprofd profilable:process signal;

  # Executables and libraries.
  # These are needed to read the ELF binary data needed for unwinding.
  allow heapprofd exec_type:file { open read };
  allow heapprofd apk_data_file:file { open read };
  allow heapprofd dalvikcache_data_file:file { open read };
  allow heapprofd vendor_file:file { open read };
  allow heapprofd vendor_app_file:file { open read };
')

neverallow heapprofd {
  bpfloader
  init
  kernel
  keystore
  llkd
  userdebug_or_eng(`-llkd')
  logd
  userdebug_or_eng(`-logd')
  ueventd
  vendor_init
  vold
}:file read;

neverallow heapprofd {
  bpfloader
  init
  kernel
  keystore
  llkd
  userdebug_or_eng(`-llkd')
  logd
  userdebug_or_eng(`-logd')
  ueventd
  vendor_init
  vold
}:process signal;

