###
### isolated_compute_app.
###
### This file defines the rules shared by solitary app domains which has a
### reduced set of permissions comparing to untrusted_app.
###
### This attribute is assigned to apps that require a sandboxing to enforce
### privacy protection to perform analysis on sensitive data. It allows access
### to system services to collect data on its own yet blocks any kind of access
### that can egress or write data.
###

typeattribute isolated_compute_app coredomain;

app_domain(isolated_compute_app)

allow isolated_compute_app activity_service:service_manager find;
allow isolated_compute_app cameraserver_service:service_manager find;
allow isolated_compute_app content_capture_service:service_manager find;
allow isolated_compute_app device_state_service:service_manager find;
allow isolated_compute_app privapp_data_file:dir { getattr search };
hwbinder_use(isolated_compute_app)

#####
##### Neverallow
#####

# Should not directly open app data files themselves.
neverallow isolated_compute_app {sdk_sandbox_data_file}:file *;

# Only allow appending to /data/anr/traces.txt
neverallow isolated_compute_app anr_data_file:file ~{ open append };
neverallow isolated_compute_app anr_data_file:dir ~search;

# Must not be permitted to use VndBinder
neverallow isolated_compute_app vndbinder_device:chr_file *;

# Do not allow isolated_compute_app access to /cache
neverallow isolated_compute_app cache_file:dir *;
neverallow isolated_compute_app cache_file:file *;

# Do not allow isolated_compute_app to access external storage, except for files passed
# via file descriptors.
neverallow isolated_compute_app { storage_file mnt_user_file sdcard_type fuse }:dir ~getattr;
neverallow isolated_compute_app { storage_file mnt_user_file }:file_class_set *;
neverallow isolated_compute_app { sdcard_type fuse }:{ devfile_class_set lnk_file sock_file fifo_file } *;
neverallow isolated_compute_app { sdcard_type fuse }:file *;

# Do not allow USB access
neverallow isolated_compute_app { usb_device usbaccessory_device }:chr_file *;

# Restrict the webview_zygote control socket.
neverallow isolated_compute_app webview_zygote:sock_file write;

# Limit the /sys files which isolated_compute_app can access.
neverallow isolated_compute_app {
  sysfs_type
  -sysfs_devices_system_cpu
  -sysfs_transparent_hugepage
  -sysfs_usb
  -sysfs_fs_incfs_features
}:file no_rw_file_perms;

# No creation of sockets families other than AF_UNIX sockets.
# List taken from system/sepolicy/public/global_macros - socket_class_set
# excluding unix_stream_socket and unix_dgram_socket.
# Many of these are socket families which have never and will never
# be compiled into the Android kernel.
neverallow isolated_compute_app { self ephemeral_app priv_app sdk_sandbox untrusted_app_all }:{
  socket tcp_socket udp_socket rawip_socket netlink_socket packet_socket
  key_socket appletalk_socket netlink_route_socket
  netlink_tcpdiag_socket netlink_nflog_socket netlink_xfrm_socket
  netlink_selinux_socket netlink_audit_socket netlink_dnrt_socket
  netlink_kobject_uevent_socket tun_socket netlink_iscsi_socket
  netlink_fib_lookup_socket netlink_connector_socket netlink_netfilter_socket
  netlink_generic_socket netlink_scsitransport_socket netlink_rdma_socket
  netlink_crypto_socket sctp_socket icmp_socket ax25_socket ipx_socket
  netrom_socket atmpvc_socket x25_socket rose_socket decnet_socket atmsvc_socket
  rds_socket irda_socket pppox_socket llc_socket can_socket tipc_socket
  bluetooth_socket iucv_socket rxrpc_socket isdn_socket phonet_socket
  ieee802154_socket caif_socket alg_socket nfc_socket vsock_socket kcm_socket
  qipcrtr_socket smc_socket xdp_socket
} create;

