# keystore2_increment_crng_entropy_count executable
type keystore2_increment_crng_entropy_count, domain, coredomain;
type keystore2_increment_crng_entropy_count_exec, system_file_type, exec_type, file_type;

# TODO check if this is too permissive before committing this CL
allow keystore2_increment_crng_entropy_count keystore:fd use;
allow keystore2_increment_crng_entropy_count self:capability sys_admin;
