typeattribute lpdumpd coredomain;

init_daemon_domain(lpdumpd)

# Allow lpdumpd to register itself as a service.
binder_use(lpdumpd)
add_service(lpdumpd, lpdump_service)

# Allow lpdumpd to read kernel cmdline to get super
# partition metadata device.
allow lpdumpd proc_cmdline:file r_file_perms;

# Allow lpdumpd to find the super partition block device.
allow lpdumpd block_device:dir search;

# Allow lpdumpd to read super partition metadata. This may live on
# super_block_device, or system_block_device (on retrofit devices).
allow lpdumpd {
    super_block_device
    system_block_device
}:blk_file r_file_perms;

# Devices with dynamic partitions should not use device tree fstab.
# lpdumpd will still try to read it though.
dontaudit lpdumpd sysfs_dt_firmware_android:dir r_dir_perms;
dontaudit lpdumpd sysfs_dt_firmware_android:file r_file_perms;

# Kernel does extra check on CAP_DAC_OVERRIDE for libbinder when lpdumpd is
# running as root. See b/35323867 #3.
dontaudit lpdumpd self:global_capability_class_set { dac_override dac_read_search };

