###
### A domain for android.process.media, which contains both
### MediaProvider and DownloadProvider and associated services.
###

typeattribute mediaprovider coredomain;
app_domain(mediaprovider)

# Access the network.
net_domain(mediaprovider)
# Access bluetooth.
bluetooth_domain(mediaprovider)

# Allow the allocation and use of ptys
# Used by: https://play.privileged.com/store/apps/details?id=jackpal.androidterm
create_pty(mediaprovider)

# webview crash handling depends on self ptrace (b/27697529, b/20150694, b/19277529#comment7)
allow mediaprovider self:process ptrace;

# Some apps ship with shared libraries that they write out
# to their sandbox directory and then dlopen().
allow mediaprovider app_data_file:file execute;

allow mediaprovider audioserver_service:service_manager find;
allow mediaprovider cameraserver_service:service_manager find;
allow mediaprovider drmserver_service:service_manager find;
allow mediaprovider mediacodec_service:service_manager find;
allow mediaprovider mediametrics_service:service_manager find;
allow mediaprovider mediadrmserver_service:service_manager find;
allow mediaprovider mediacasserver_service:service_manager find;
allow mediaprovider mediaextractor_service:service_manager find;
allow mediaprovider mediaserver_service:service_manager find;
allow mediaprovider nfc_service:service_manager find;
allow mediaprovider radio_service:service_manager find;
allow mediaprovider surfaceflinger_service:service_manager find;
allow mediaprovider app_api_service:service_manager find;
allow mediaprovider system_api_service:service_manager find;
allow mediaprovider persistent_data_block_service:service_manager find;
allow mediaprovider recovery_service:service_manager find;

# Write to /cache.
allow mediaprovider { cache_file cache_recovery_file }:dir create_dir_perms;
allow mediaprovider { cache_file cache_recovery_file }:file create_file_perms;
# /cache is a symlink to /data/cache on some devices. Allow reading the link.
allow mediaprovider cache_file:lnk_file r_file_perms;

# Write to /data/ota_package for OTA packages.
allow mediaprovider ota_package_file:dir rw_dir_perms;
allow mediaprovider ota_package_file:file create_file_perms;

# Access to /data/media.
allow mediaprovider media_rw_data_file:dir create_dir_perms;
allow mediaprovider media_rw_data_file:file create_file_perms;

# Used by Finsky / Android "Verify Apps" functionality when
# running "adb install foo.apk".
allow mediaprovider shell_data_file:file r_file_perms;
allow mediaprovider shell_data_file:dir r_dir_perms;

# Allow verifier to access staged apks.
allow mediaprovider { apk_tmp_file apk_private_tmp_file }:dir r_dir_perms;
allow mediaprovider { apk_tmp_file apk_private_tmp_file }:file r_file_perms;

# b/18504118: Allow reads from /data/anr/traces.txt
allow mediaprovider anr_data_file:file r_file_perms;

# Allow GMS core to access perfprofd output, which is stored
# in /data/misc/perfprofd/. GMS core will need to list all
# data stored in that directory to process them one by one.
userdebug_or_eng(`
  allow mediaprovider perfprofd_data_file:file r_file_perms;
  allow mediaprovider perfprofd_data_file:dir r_dir_perms;
')

# Allow GMS core to scan executables on the system partition
allow mediaprovider exec_type:file { getattr read open };

# For AppFuse.
allow mediaprovider vold:fd use;
allow mediaprovider fuse_device:chr_file { read write };

# /sys and /proc access
r_dir_file(mediaprovider, sysfs_type)
r_dir_file(mediaprovider, proc)
r_dir_file(mediaprovider, rootfs)

# access the mac address
allowxperm mediaprovider self:udp_socket ioctl SIOCGIFHWADDR;

# Allow GMS core to communicate with update_engine for A/B update.
binder_call(mediaprovider, update_engine)
allow mediaprovider update_engine_service:service_manager find;

# Allow Phone to read/write cached ringtones (opened by system).
allow mediaprovider ringtone_file:file { getattr read write };

# Access to /data/preloads
allow mediaprovider preloads_data_file:file r_file_perms;
allow mediaprovider preloads_data_file:dir r_dir_perms;
allow mediaprovider preloads_media_file:file r_file_perms;
allow mediaprovider preloads_media_file:dir r_dir_perms;

# android.process.media uses /dev/mtp_usb
allow mediaprovider mtp_device:chr_file rw_file_perms;

# MtpServer uses /dev/usb-ffs/mtp
allow mediaprovider functionfs:dir search;
allow mediaprovider functionfs:file rw_file_perms;

# MtpServer sets sys.usb.ffs.mtp.ready
set_prop(mediaprovider, ffs_prop)

# Traverse into /mnt/media_rw for bypassing FUSE daemon
allow mediaprovider mnt_media_rw_file:dir search;

read_runtime_log_tags(mediaprovider)

###
### neverallow rules
###

# Receive or send uevent messages.
neverallow mediaprovider domain:netlink_kobject_uevent_socket *;

# Receive or send generic netlink messages
neverallow mediaprovider domain:netlink_socket *;

# Too much leaky information in debugfs. It's a security
# best practice to ensure these files aren't readable.
neverallow mediaprovider debugfs:file read;

# Do not allow privileged apps to register services.
# Only trusted components of Android should be registering
# services.
neverallow mediaprovider service_manager_type:service_manager add;

# Do not allow mediaprovider to be assigned mlstrustedsubject.
# This would undermine the per-user isolation model being
# enforced via levelFrom=user in seapp_contexts and the mls
# constraints.  As there is no direct way to specify a neverallow
# on attribute assignment, this relies on the fact that fork
# permission only makes sense within a domain (hence should
# never be granted to any other domain within mlstrustedsubject)
# and mediaprovider is allowed fork permission to itself.
neverallow mediaprovider mlstrustedsubject:process fork;

# Do not allow mediaprovider to hard link to any files.
# In particular, if mediaprovider links to other app data
# files, installd will not be able to guarantee the deletion
# of the linked to file. Hard links also contribute to security
# bugs, so we want to ensure mediaprovider never has this
# capability.
neverallow mediaprovider file_type:file link;
