# mm_eventsd service
typeattribute mm_eventsd coredomain;

init_daemon_domain(mm_eventsd)

# Allow mm_eventsd to read tracing/instances/mm_events/trace_pipe
allow mm_eventsd debugfs_tracing_instances:dir search;
allow mm_eventsd debugfs_mm_events_tracing:dir search;
allow mm_eventsd debugfs_mm_events_tracing:file r_file_perms;

# Allow mm_eventsd to read /proc/vmstat
allow mm_eventsd proc_vmstat:file r_file_perms;

# Allow mm_eventsd to dump its history in /data/mm_events/*
allow mm_eventsd mm_events_data_file:dir rw_dir_perms;
allow mm_eventsd mm_events_data_file:file create_file_perms;

# Allow mm_eventsd to read mm_eventsd system properties
get_prop(mm_eventsd, mm_eventsd_prop)

# Only allow init / vendor_init to set mm_eventsd_prop
neverallow { domain -init -vendor_init } mm_eventsd_prop:property_service set;
