userdebug_or_eng(`
  type modem_test_server, domain;
  typeattribute modem_test_server coredomain;

  app_domain(modem_test_server)
  net_domain(modem_test_server)
  bluetooth_domain(modem_test_server)

  allow modem_test_server activity_service:service_manager find;
  allow modem_test_server content_capture_service:service_manager find;
  allow modem_test_server game_service:service_manager find;
  allow modem_test_server netstats_service:service_manager find;

  allow modem_test_server self:vsock_socket create_socket_perms_no_ioctl;
')
