typeattribute ppp coredomain;

domain_auto_trans(mtp, ppp_exec, ppp)

# Audit access the MAC address and link information for potential removal (b/192350019)
allow ppp self:netlink_route_socket { bind nlmsg_readpriv nlmsg_getneigh };
userdebug_or_eng(`
  auditallow ppp self:netlink_route_socket { bind nlmsg_readpriv nlmsg_getneigh };
')
