# profcollectd - hardware profile collection daemon

userdebug_or_eng(`
  typeattribute profcollectd coredomain;
  init_daemon_domain(profcollectd)
')
