typeattribute profman coredomain;

# profman acquires a flock when reading any profile file. Allow profman to lock
# profile files next to the APKs so that it doesn't encounter an error when
# reading them by FDs passed from other programs.
allow profman { system_file apk_data_file vendor_app_file }:file lock;

# Allow profman to use file descriptors passed from privileged programs.
allow profman { artd installd }:fd use;
