type remote_prov_app, domain;
typeattribute remote_prov_app coredomain;

app_domain(remote_prov_app)
net_domain(remote_prov_app)

# The app needs access to properly build a DeviceInfo package for the verifying server
get_prop(remote_prov_app, vendor_security_patch_level_prop)

allow remote_prov_app {
    app_api_service
    remoteprovisioning_service
}:service_manager find;

# Audit access the MAC address and link information for potential removal (b/192350019)
allow remote_prov_app self:netlink_route_socket { bind nlmsg_readpriv nlmsg_getneigh };
userdebug_or_eng(`
  auditallow remote_prov_app self:netlink_route_socket { bind nlmsg_readpriv nlmsg_getneigh };
')
