typeattribute servicemanager coredomain;
typeattribute servicemanager nonprofilable;

init_daemon_domain(servicemanager)

read_runtime_log_tags(servicemanager)
