type rpmb_dev, domain, coredomain;
type rpmb_dev_exec, exec_type, system_file_type, file_type;
type rpmb_dev_data_file, data_file_type, file_type;
type rpmb_dev_socket, file_type;
is_flag_enabled(RELEASE_AVF_ENABLE_EARLY_VM, init_daemon_domain(rpmb_dev))

type storageproxyd, domain, coredomain;
type storageproxyd_exec, exec_type, system_file_type, file_type;
is_flag_enabled(RELEASE_AVF_ENABLE_EARLY_VM, init_daemon_domain(storageproxyd))
