typeattribute toolbox coredomain;

init_daemon_domain(toolbox)

# mkdir /data/misc/virtualizationservice
allow toolbox virtualizationservice_data_file:dir create_dir_perms;
