typeattribute ueventd coredomain;

tmpfs_domain(ueventd)

# ueventd can set properties, particularly it sets ro.cold_boot_done to signal
# to init that cold boot has completed.
set_prop(ueventd, cold_boot_done_prop)

# ueventd reads apexd.status property and switches mount namespace
get_prop(ueventd, apexd_prop)
