domain_auto_trans(vold, vold_prepare_subdirs_exec, vold_prepare_subdirs)

allow vold_prepare_subdirs storaged_data_file:dir { create open read write search getattr setattr remove_name rmdir };
