typeattribute vr_hwc coredomain;
typeattribute vr_hwc nonprofilable;

# Daemon started by init.
init_daemon_domain(vr_hwc)

hal_server_domain(vr_hwc, hal_graphics_composer)
